n8n/workflows/workflow_b_matching.json
{
  "name": "Loan Matching Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "matching",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "matching"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM match_new_users('{{ $json.batch_id }}'::uuid)",
        "options": {}
      },
      "id": "postgres-match",
      "name": "Run Matching",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "llm-check",
              "leftValue": "={{ $json.llm_candidates }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-llm-needed",
      "name": "LLM Needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "completed"
            },
            {
              "name": "message",
              "value": "=Matching complete. Created {{ $('Run Matching').item.json.matches_created }} matches."
            }
          ]
        },
        "options": {}
      },
      "id": "set-response",
      "name": "Set Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{"node": "Run Matching", "type": "main", "index": 0}]]
    },
    "Run Matching": {
      "main": [[{"node": "LLM Needed?", "type": "main", "index": 0}]]
    },
    "LLM Needed?": {
      "main": [
        [{"node": "Set Response", "type": "main", "index": 0}],
        [{"node": "Set Response", "type": "main", "index": 0}]
      ]
    },
    "Set Response": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"}
}
